<h1>Pages#about</h1>

<h2 class="text-center">Our Team</h2>
<div class="row">
  <div id="container">
    <div class="col-lg-3">
      <figure>
        <img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
        <figcaption>First image</figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <figure>
        <img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
        <figcaption>First image</figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <figure>
        <img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
        <figcaption>First image</figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <figure>
        <img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
        <figcaption>First image</figcaption>
      </figure>
    </div>
  </div>
</div>
