<h1>Pages#about</h1>

<h2 class="text-center">Our Team</h2>
<div class="col-lg-3">
<img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
</div>
<div class="col-lg-3">
<img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
</div>
<div class="col-lg-3">
<img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
</div>
<div class="col-lg-3">
<img class="smaller-image whiteborder" src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
</div>
