<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive" src="/assets/tree.png" style="position: absolute; right: 0px;"/>
			<h1 class="LOL">Plant A Tree</h1>
			<p>Find me in app/views/pages/home.html.erb</p>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		</div>
	</div>
</div>
