<div class="container text-center">
	<div class="row">
    <h1>Statistics</h1>
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel-heading">Ranking</div>
      <p>Top Tree planter</p>
            <!-- Table -->
            <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Number of tree</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>10200</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>8500</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>6200</td>
          </tr>
            <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1020</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>850</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>620</td>
          </tr>
            <tr>
            <th scope="row">7</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>102</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>85</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>62</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>61</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  </div>
</div>