<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li role="presentation"><a href='#'>Home</a></li>
    <li role="presentation"><a href="#">About</a></li>
    <li role="presentation"><a href="#">Stats</a></li>
    <li role="presentation"><a href="#">Picture</a></li>
  </ul>
  <form class="navbar-form navbar-right">
    <div class="container-fluid form-group">
      <input type="text" class="form-control" placeholder="Email or Username"></input>
        <input type="password" class="form-control" placeholder="Password"></input>
        <button type="Submit" class="btn btn-default">Login</button>
        <button type="button" class="btn btn-success">Sign Up</button>
      </div>
  </form>
</nav>
